<style>
    table,
    td,
    th {
        border: 1px solid black;
        border-collapse: collapse;
        margin-left: 350px;
    }

    table {
        height: 400px;
        width: 400px;
    }

    img {
        /* margin-left: 50px; */
        height: 120px;
        width: 150px;
    }

    td {
        text-align: center;
        height: 120px;
        width: 150px;
    }
    h4,td{
        color: darkorange;
    }
    

    th {color:red;
        height: 45px;
        width: 150px;
    }

    h1 {
        text-align: center;
        color: blue;
    }
</style>

<h1>Starters</h1>
<table>
    <tr>

        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><img src="assets\imgs\samosa_chat1.jpg" alt="">

            <h4>Samosa Chat</h4>
        </td>
        <td>150</td>
    </tr>

    <tr>
        <td><img src="assets\imgs\veg_momos.jpg" alt="">
            <h4>Veg Momos </h4>
        </td>
        <td>145</td>
    </tr>
    <tr>
        <td><img src="assets\imgs\panner_tikka.jpg" alt="">
            <h4>Paneer Tikka </h4>
        </td>
        <td>250</td>
    </tr>

    <tr>
        <td><img src="assets\imgs\paneer_65.jpg" alt="">
            <h4>Paneer 65 </h4>
        </td>
        <td>280</td>
    </tr>

    <tr>
        <td><img src="assets\imgs\sabudana.jpg" alt="">

            <h4>Sabudana Tikki</h4>
        </td>
        <td>80</td>
    </tr>

    <tr>
        <td><img src="assets\imgs\dahivada1.jpg" alt="">
            <h4>Dahi Vada</h4>
        </td>
        <td>180</td>
    </tr>





</table>