<style>
    table,td,th{
        border: 1px solid black;
        border-collapse: collapse;
        margin-left:390px;
    }
    table{
        height: 400px;
        width: 400px;
    }
    img{
        /* margin-left: 50px; */
        height: 120px;
        width: 150px;
    }
    
    td{ text-align: center;
        height: 120px;
        width: 150px;
    }
    th{color:red;
        height: 45px;
        width: 150px; 
    }
    h4,td{
        font-size: larger;
        color: darkorange;
    }
    

    h1{
        text-align: center;
        color: blue;    }
</style>

<h1>Main Course</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><img src="assets\imgs\naan.jpg" alt="">
            <h4>Butter Naan</h4>
        </td>
        <td>50</td>
    </tr>
    
    <tr>
        <td><img src="assets\imgs\jeera_rice.jpg" alt="">
        <h4>Jeera Rice </h4></td>
         
        <td>80</td>
    </tr>
    <tr>
        <td><img src="assets\imgs\veg_biryani1.jpg" alt="">
            <h4>Veg Biryani</h4>
        </td>
        <td>200</td>
    </tr>

    <tr>
        <td><img src="assets\imgs\paneer_makhani1.jpg" alt=""> 
        
        <h4>Paneer Makhani</h4> </td>
        <td>280</td>
    </tr>
       
    <tr>
        <td><img src="assets\imgs\tawa_pulao1.jpg" alt="">
            <h4>Tawa Pulao</h4></td>
        <td>110</td>
    </tr>
       
    <tr>
        <td><img src="assets\imgs\veg jalfreji1.jpg" alt="">
            
            <h4>Veg Jalfrezi</h4> </td>
        <td>150</td>
    </tr>
       
    
       
       
    
</table>
