<style>
    table,td,th{
        border: 1px solid black;
        border-collapse: collapse;
        margin-left:350px;
    }
    table{
        height: 400px;
        width: 400px;
    }
    img{
        /* margin-top: 20px; */
        height: 120px;
        width: 150px;
    }
    
    td{ text-align: center;
        height: 120px;
        width: 150px;
    }
    th{color:red;
        height: 45px;
        width: 150px; 
    }
    h4,td{
        color: darkorange;
    }
    

    h1{
        text-align: center;
        color: blue;    }
</style>

<h1>Dessert</h1>
<table>
    <tr>
       
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><img src="assets\imgs\choco_icecream.jpg" alt="">
            <h4>Chocolate Icecream</h4></td>
        <td>100</td>
    </tr>
    
    <tr>
        <td><img src="assets\imgs\royal_falooda.jpg" alt="">
            <h4>Royal Falooda</h4> </td> 
        <td>150</td>
    </tr>
    <tr>
        <td><img src="assets\imgs\gulab_jamun.jpg" alt="">
            
            <h4>Gulab Jamun</h4></td>
        <td>60</td>
    </tr>

    <tr>
        <td><img src="assets\imgs\caramel_custurd.jpg" alt=""> 
            <h4>Caramel Custurd</h4></td>
        <td>110</td>
    </tr>
       
    <tr>
        <td><img src="assets\imgs\rabri.jpg" alt="">
        <h4>Rabdi</h4></td>
        <td>70</td>
    </tr>
       
    
       
       
    
</table>
